body {
  background-color: #111;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial;
  font-size: 1em;
}
canvas {
  padding: 0;
  margin: 0;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}